*{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.logo-heading{
    display: flex;
    align-items: center;
}
.logo-heading img{
    width: 50px;
    margin-right: 10px;
}
.logo-heading h1{
    font-size: 30px;
}
nav .btn{
    margin-left: auto;
}